.menubar2{
    width: 99%;
    background-color: rgb(47, 0, 255);
    border: 10px solid rgb(230, 10, 10);
    overflow: auto;
}
.menubar2 a{
    float: left;
    padding: 30px;
    font-size: 50px;
    color: rgb(24, 3, 3);
    width: 10%;
}
.menubar2  :hover{
    background-color: rgb(1, 168, 71);
}
.menubar1{
    width: 20vh;
    background-color: rgb(20, 50, 220);
    border: 10px solid rgb(240, 5, 5);
    overflow: auto;
}
.menubar1 a{
    float: left;
    padding: 30px;
    font-size: 50px;
    color: rgb(12, 14, 12);
    width: 50%;
}
.menubar1  :hover{
    background-color: rgb(168, 1, 140);
}

