.col1{
    background-image: url(photo/nn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;

}

.col2{
    background-image: url(photo/mm.jpg);
    background-repeat: no-repeat;
    height: 40vh;
    width: 70vh;
    left: 0;
    right: 0;
    height: 95vh;
}
.ss{
    font-size: 1rem;
    
    margin-left: 100px;
    margin-top: 30px;
}
table{
    align-items: end;
    margin-left: 120px;
    margin-top: 70px;
    font-size: 2rex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}